<p>capture works!</p>
<video #video autoplay playsinline muted></video>

<p>Connection: {{ connectionState$ | async }}</p>

<p>Mean Color: {{ meanColor$ | async | json }}</p>
<p>Latency: {{ latencyMs$ | async }} ms</p>
<ng-container *ngIf="sentBytes$ | async as sentBytes">
    <p>MB Sent: {{ ((sentBytes) ? ((sentBytes) / 1_048_576) : 0).toFixed(2) }} MB</p>
</ng-container>
<ng-container *ngIf="byteRate$ | async as byteRate">
    <p>Byte Rate: {{ (byteRate ? (byteRate) : 0) }} KB/s</p>
</ng-container>
<ng-container *ngIf="byteRateAvg$ | async as byteRateAvg">
    <p>Byte Rate Avg: {{ (byteRateAvg ? (byteRateAvg) : 0) }} KB/s</p>
</ng-container>
<ng-container *ngIf="streamDuration$ | async as streamDuration">
    <p>Stream Duration: {{ (streamDuration ? streamDuration : 0) }} s</p>
</ng-container>

<button (click)="toggleTransmission()">{{ transmitting ? 'Stop' : 'Start' }} Transmission</button>