<div class="flex flex-row gap-4 flex-wrap">
    <div class="flex flex-col gap-2 w-[500px] max-w-full flex-grow">
        <p>Input</p>
        <video #video autoplay playsinline muted></video>
    </div>
    <div class="flex flex-col gap-2 w-[500px] max-w-full flex-grow">
        <p>Output</p>
        <div class="w-full h-fit relative">
            <img #image src="" />
            @for (detection of detections; track detection.id) {
            <div class="absolute border-2 border-red-500" [ngStyle]="{
                        top: detection.bbox[1] * 100 + '%',
                        left: detection.bbox[0] * 100 + '%',
                        width: (detection.bbox[2] - detection.bbox[0]) * 100 + '%',
                        height: (detection.bbox[3] - detection.bbox[1]) * 100 + '%'
                    }">
                <div class="absolute top-0 left-0 bg-red-500 text-white text-xs font-bold px-1 py-0.5 rounded">
                    {{ detection.class }}
                    {{ detection.confidence.toFixed(2) }}
                </div>
            </div>
            }
        </div>
    </div>
</div>

<p>Connection: {{ connectionState$ | async }}</p>

<p>Mean Color: {{ meanColor$ | async | json }}</p>
<ng-container *ngIf="stats$ | async as stats">
    <p>Latency: {{ stats.latencyMs }} ms</p>
    <p>Bytes Sent: {{ ((stats.totalBytesSent) ? (stats.totalBytesSent / 1_048_576) : 0).toFixed(2) }} MB</p>
    <p>Bytes Received: {{ ((stats.totalBytesReceived) ? (stats.totalBytesReceived / 1_048_576) : 0).toFixed(2) }} MB</p>
    <p>Byte Rate: {{ (stats.bytesPerSecond ? (stats.bytesPerSecond / 1_024).toFixed(2) : 0) }} KB/s</p>
    <p>Byte Rate Avg: {{ (stats.bytesPerSecondAvg ? (stats.bytesPerSecondAvg / 1_024).toFixed(2) : 0) }} KB/s</p>
    <p>Stream Duration: {{ (stats.elapsedTime ? stats.elapsedTime : 0) }} s</p>
    <p>Image Res: {{ stats.imageWidth }} x {{ stats.imageHeight }}</p>
    <p>FPS: {{ stats.fps }}</p>
    <p>FPS Analyzed: {{ stats.fpsAnalyzed }}</p>
</ng-container>

<button (click)="toggleTransmission()">{{ transmitting ? 'Stop' : 'Start' }} Transmission</button>
<input type="checkbox" [value]="countOutput" (change)="toggleCountOutput()" />